*, *:before, *:after {
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: white;
  overflow: hidden;
  font-size: 12px;
  font-family: sf pro display;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  width: 375px;
  height: 1140px;
}

#status ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  border: 0;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  height: 10px;
}

#nav ul {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 6px;
  padding: 0;
  border: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 20px;
}

#nav li {
    margin-left: 8.5px;
    margin-right: 9px;
}

/* Washington & State */
h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  color: white;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.navigation {
  background-color: black;
  width: 375px;
  height: 92.67px;
}

.map {
  margin-top: 20px;
  height: 300px;
  width: 375px;
  padding: 0;
  background-repeat: no-repeat;
}

  /* White background */
.container {
  position: absolute;
  width: 375px;
  height: 875px;
  left: 0%;
  right: 0%;
  top: 300px;
  bottom: 8.78%;
  background: #ffffff;
  box-shadow: 0px -15px 10px rgba(0, 0, 0, 0.161);
}


/* slide up */
.rectangle {
  width: 35px;
  height: 1.89px;
  background: #CCCCCC;
  margin-left: 170px;
  margin-top: 10px;
}


/* bus information */
table.bus-information, table.service-alerts {
  width: 355px;
  border-collapse: collapse;
  border-style: hidden;
  background-color: #fafafa;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border-spacing: 23px;
}

table.bus-information caption, table.service-alerts caption {
  text-align: left;
  margin-top: 23px;
  margin-bottom: 11px;
  font-weight: 800;
}

#tdNumber, #tdNumber2 {
  padding-left: 15px;
  padding-top: 12px;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}



#tdNumber2 {
  color: rgba(255, 0, 0, 0.65);
}

#tdCountdown {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  padding-top: 12px;
}

#tdDirection, #tdAlert, #tdAlertlast {
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  font-family: sf pro text;
}

#tdAlert, #tdAlertlast {
  color: #808080;
}

#tdTime, #tdFrequency, #tdResult, #tdResultlast, #tdFrequencylast {
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  color: #808080;
  font-family: sf pro display;
}

#tdResult, #tdResultlast {
  padding-right: 42px;
}


#tdLocation, #tdLocationlast, #tdLocation2 {
  padding-left: 15px;
  color: #808080;
  font-family: SF Pro Display;
}

#tdArrow {
  padding-right: 12px;
  color: #808080;
}

#tdResultlast, #tdAlertlast, #tdLocationlast, #tdFrequencylast {
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#tdLocation, #tdFrequency, #tdArrow, #tdResult, #tdAlert {
  padding-bottom: 12px;
  border-bottom: 1px solid #DCDCDC;
}
