*, *:before, *:after {
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
  outline: none;
}


body {
  background-color: rgb(214, 214, 214);
  overflow: hidden;
  color: #808080;
  font-size: 12px;
  font-family: sf pro display;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  width: 375px;
  height: 812px;
  text-align: center;
}

#status ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  border: 0;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  height: 10px;
}

#nav ul {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 6px;
  padding: 0;
  border: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 20px;

}

#nav li {
    margin-left: 8.5px;
    margin-right: 9px;
}


h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  color: white;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}

.navigation {
  background-color: black;
  width: 375px;
  height: 92.67px;
}

#map {
  margin-top: 20px;
  height: 25px;
  width: 375px;
  padding: 0;
  background-repeat: no-repeat;
}


/* bus information */
.container {
  background-color: rgb(255, 255, 255);
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: inline-block;
  height: 950px;
  background-color: white;
  margin-top: 190px;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.161);
}

/* Next Arrivals */
h3 {
  font-size: 12px;
  color: #000000;
  text-align: left;
  margin-left: 12px;
  font-weight: bold;
  margin-top: 23px;
  margin-bottom: 11px;
}

td, th {
  text-align: left;
  color: #808080;
  width: 100%;
  list-style-type: none;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: 45%;
}

/* Bus Number */
th {
  font-weight: bold;
  font-size: 22px;
  color: black;
}


/* Direction */
h2 {
  font-weight: 800px;
  font-size: 12px;
  font-family: SF Pro Text;
  color: black;
}

.fa-chevron-right {
  color: #808080;
  padding-right: 0px;
}

.fa-arrow-circle-right {
  height: 9px;
  display: flex;
  color: black;
}

table {
  width: 353px;
  height: 474px;
  background-color: #F7F7F7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.time, .resumes {
  text-align: right;
}

.resumes {
  padding-right: 40px;
}

.service-alerts {
  height: 298px;
}

.alert {
  color: rgba(255, 0, 0, 0.65);
}

.rectangle {
  width: 35px;
  height: 1.89px;
  background: #CCCCCC;
  margin-left: 170px;
  margin-top: 10px;
}
