*, *:before, *:after {
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {

}

body {
  background-color: white;
  overflow: hidden;
  font-family: '.SFNSDisplay-Regular', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
  width: 375px;
  height: 1140px;
  position: relative;
  margin: auto;
  overflow: scroll;
}


/* Washington & State */
h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  color: white;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.navigation {
  background-color: black;
  width: 375px;
  height: 92.67px;
}

.map {
  margin-top: 20px;
  height: 300px;
  width: 375px;
  padding: 0;
  background-repeat: no-repeat;
}

  /* White background */
.container {
  position: absolute;
  width: 375px;
  height: 875px;
  left: 0%;
  right: 0%;
  top: 300px;
  bottom: 8.78%;
  background: #ffffff;
  box-shadow: 0px -15px 10px rgba(0, 0, 0, 0.161);
}


/* slide up */
.rectangle {
  width: 35px;
  height: 1.89px;
  background: #CCCCCC;
  margin-left: 170px;
  margin-top: 10px;
}


/* bus information */
ol {
  width: 355px;
  background-color: #fafafa;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: float;
}

h2 {
  text-align: left;
  margin-top: 23px;
  margin-bottom: 11px;
  font-weight: 800;
  font-size: 1em;
}

#Number, #Number2 {
  padding-left: 15px;
  padding-top: 12px;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}



#Number2 {
  color: rgba(255, 0, 0, 0.65);
}

#Countdown {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  padding-right: 14px;
  padding-top: 12px;
}

#Direction, #Alert, #Alertlast {
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  font-family: sf pro text;
}

#Alert, #Alertlast {
  color: #808080;
}

#Time, #Frequency, #Result, #Resultlast, #Frequencylast, #NoResult {
  font-size: 12px;
  text-align: right;
  padding-right: 14px;
  color: #808080;
  font-family: sf pro display;
}

#Result, #Resultlast {
  padding-right: 39px;
  padding-top: 16px;
}

#NoResult {
  padding-right: 39px;
  padding-top: 22px;
}

#Location, #Locationlast, #Location2 {
  padding-left: 15px;
  color: #808080;
  font-family: SF Pro Display;
}


.fa-chevron-right {
  padding-right: 12px;
  color: #808080;
  margin-top: 36.5px;
  margin-bottom: 24.5px;
}


#Resultlast, #Alertlast, #Locationlast, #Frequencylast {
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#Location, #Frequency, #Arrow, #Result, #Alert, #NoResult {
  padding-bottom: 12px;
}
